body {
  background-color: #630904ff;;
}
#top{
  background-color: #000000;
}
#content{
  background-color: #ffffff;
}
#foot{
  background-color: #aba6a6ff;
}

/*   background-image: linear-gradient(to bottom right, red, yellow); */

.CharPaddingText{
  padding-top: 100px;
}

.charName{
  color: #bababa;
}

.nav{
  background-color: black;
}

a{
  color: yellow;
}

p.indent {
  text-indent: 30px;
}

.card {
  height:300px;
  width:300px;
  background-color: black;
  color: yellow;
}

.card-img-top {
  height: 250px;
}


.margtText {
  margin: 20px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  height: 10%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  margin-bottom: 40px;
}

chart.render(); {

  position: relative;
  down: 100px;
  border: 3px solid #73AD21;

}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.ProTable {
  padding-top: 40px;
  padding-right: 1px;
}

.UmishoImgCol{
  padding-top: 40px;
  height: 260px;
}

h2{ font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif"; 
  }

.LinkBlue {
  color: #0040ff;
}

.ListNone {
  list-style-type:none;
}

.col {
  border: solid #000000;
}
.col-1 {
  border: solid #000000;
}
.col-2 {
  border: solid #000000;
}
.col-3 {
  border: solid #000000;
}
.col-4 {
  border: solid #000000;
}
.row {
  border: solid #0d0d0d;
}

/* https://www.youtube.com/watch?v=mqd_Bex8BzI */
