body {
  background-color: #630904ff;;
}
#top{
  background-color: #000000;
}
#content{
  background-color: #ffffff;
}
#foot{
  background-color: #aba6a6ff;
}

/*   background-image: linear-gradient(to bottom right, red, yellow); */

.nav{
  background-color: black;
}

a{
  color: yellow;
}

p.indent {
  text-indent: 30px;
}

.card {
  height:300px;
  width:300px;
  background-color: black;
  color: yellow;
}

.card-img-top {
  height: 250px;
}


.margtText {
  margin: 20px;
}

hovImg:hover {
  width: 40%;
}

.RazzoTable {
  padding-top: 50px;
}

h2{ font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif"; 
  }

.LinkBlue {
  color: #0040ff;
}

/* .col {
  border: solid #000000;
}
.col-1 {
  border: solid #000000;
}
.col-2 {
  border: solid #000000;
}
.col-3 {
  border: solid #000000;
}
.col-4 {
  border: solid #000000;
}
.row {
  border: solid #0d0d0d;
} */

/* https://www.youtube.com/watch?v=mqd_Bex8BzI */
