body {
  background-color: #630904ff;;
}
#top{
  background-color: #000000;
}
#content{
  background-color: #ffffff;
}
#foot{
  background-color: #aba6a6ff;
}

/*   background-image: linear-gradient(to bottom right, red, yellow); */

.nav{
  background-color: black;
}

a{
  color: yellow;
}

p.indent {
  text-indent: 30px;
}

.card {
  height:300px;
  width:300px;
  background-color: black;
  color: yellow;
}

.card-img-top {
  height: 250px;
}


.margtText {
  margin: 20px;
}

/* .col {
  border: solid #000000;
}
.row {
  border: solid #0d0d0d;
} */


/* --almond: #DFCFBFff;
--liver: #6B4C43ff;
--gainsboro: #D4DCDFff;
--cadet-grey: #8C9FAEff;
--white: #FFFFFFff; */