body {
  background-color: #630904ff;;
}
#top{
  background-color: #000000;
}
#content{
  background-color: #ffffff;
}
#foot{
  background-color: #aba6a6ff;
}

/*   background-image: linear-gradient(to bottom right, red, yellow); */

.nav{
  background-color: black;
}

a{
  color: yellow;
}

p.indent {
  text-indent: 30px;
}

.card {
  height:300px;
  width:300px;
  background-color: black;
  color: yellow;
}

.card-img-top {
  height: 250px;
}

.SolGif {
  width: 230px;
}

.ZatoGif{
  width: 135%;
}

.MayGif{
  width: 72%;
}

.FaustGif {
  height: 100px;
  margin-top:142px;
}

.MilliaGif{
  width: 90%;
}

.GioGif{
  width: 85%;
}

.AnjiGif{
  width: 95%
}

.LeoGif{
  width: 115%;
}

.I-noGif{
  width: 70%;
}

/* --almond: #DFCFBFff;
--liver: #6B4C43ff;
--gainsboro: #D4DCDFff;
--cadet-grey: #8C9FAEff;
--white: #FFFFFFff; */